ipykernel
ipywidgets
tqdm
pandas
numpy
matplotlib
seaborn
python-dotenv
python-box
pydantic
Pillow
rank_bm25
transformers
sentence-transformers
langchain==0.2.16
langchain-core==0.2.40
langchain-community==0.2.16
langchain-experimental==0.0.65